html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f6f8fb;
  color-scheme: light;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
